@import 'active_admin/mixins';

.status_tag {
  background-color: inherit;
  &.active {
    color: green;
  }
  &.inactive {
    color: $error-color;
    font-weight: bold;
  }
}

#index_table {
  td img {
    width: 75px;
    height: auto;
  }
}

tr.row {
  td img {
    width: 320px;
    height: auto;
  }
}